.login-form-container {
    width: 100%;
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 125px auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.login-form-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-width: 350px;
    margin-right: 75px;
}

.login-form-left > fieldset {
    display: flex;
    justify-content: center;
    border: none;
    border-top: 1px solid gray;
    width: 100%;
    margin-top: 10px;
}

.login-form-left > fieldset > legend {
    padding: 20px 15px;
    color: rgba(110, 112, 114, 1);
}

.login-form > input, 
.login-form > button,
.login-form-left > h2, 
.login-form-left > h3, 
.login-form-left > button {
    width: 100%;
}

.login-form-left > h2,
.login-form-left > h3 {
    text-align: center;
    margin: 15px;
}

.login-form-left > h2 {
    color: #D32323;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0;
}

.login-form-left > h3 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.login-signup-link {
    color: #0073bb;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.login-form > p {
    color: rgba(110, 112, 114, 1);
    font-size: 12px;
    padding: 10px 0;
    align-self: flex-end;
}

.login-signup-link-lower {
    color: #0073bb;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.login-form > input {
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 10px 0;
}

.login-form > button, .login-form-left > button {
    background-color: #D32323;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

.demo-login {
    background-color: #0073bb !important;
    margin-top: 0;
}

.session-illustration {
    height: 340px;
    width: 380px;
    /* border-radius: 50% 50%; */
    background: url(../../../../app/assets/signup_illustration.png);
    background-size: cover;
    margin-left: 75px;
}

.session-errors {
    color: #D32323;
}