.map-container {
    width: 30%;
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    /* background-color: blue; */
    /* position: fixed;
    right: 0;
    top: 96px; */
    border: 1px solid gray;
}